a {
  text-decoration: none;
}

.card {
  width: 240px;
  height: 200px;
  margin: 20px 35px;
  color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}
.container[data-theme="light"] .card {
  box-shadow: 2px 2px 6px rgb(151, 149, 149);
}
.bg-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 4px;
}

.bg-image:hover {
  transform: scale(1.05);
}
.info-row {
  width: 100%;
  background-color: rgba(69, 69, 69, 0.547);
  padding: 10px;
  border-radius: 0 0 4px 4px;
}
.info-row .title {
  font-size: 14px;
  font-weight: 700;
}
.info-row .lang {
  font-size: 12px;
}
.rating img {
  width: 15px;
  filter: invert(1);
  padding-right: 5px;
}
.rating {
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 213, 255);
}
.rating span {
  color: #fff;
  padding-left: 5px;
}
.card-list {
  margin: 20px 0 20px 20px;
}

.col-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart-icon {
  width: 12px;
  filter: invert(1) brightness(0) invert(71%) sepia(40%) saturate(5035%)
    hue-rotate(150deg) brightness(103%) contrast(108%);
  margin: 4px;
}

@media (max-width: 1024px) {
  .card {
    width: 200px;
  }
}
@media (max-width: 769px) {
  .card {
    margin-left: 25px;
    margin-right: 0;
  }
  .card:hover {
    transform: none;
  }
}
@media (max-width: 740px) {
  .card {
    width: 140px;
    height: 180px;
    border-radius: 4px;
    margin-left: 20px;
  }
  .info-row {
    border-radius: 0 0 4px 4px;
    text-align: center;
  }
  .col-2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 426px) {
  .card,
  .left .card {
    width: 110px;
    height: 150px;
    margin-left: 15px;
  }
  .info-row .title {
    font-weight: 600;
  }
  .rating {
    font-weight: 500;
    font-size: 12px;
  }
}
