.shows-row {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  flex-wrap: wrap;
  min-height: 240px;
  width: calc(100vw - 410px);
}
.container2 {
  overflow-y: hidden !important;
}
.list-heading h2 {
  color: var(--colors-bright-text);
  margin: 20px;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 22px;
}
.list-heading span {
  font-size: 16px;
  color: var(--colors-dull-text);
}
hr {
  border: 0.5px solid var(--colors-dull-text);
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .shows-row {
    width: calc(100vw - 300px);
  }
}
@media (max-width: 769px) {
  .list-heading h2 {
    margin-left: 25px;
    padding-left: 20px;
    margin-top: 0;
    font-size: 18px;
  }
  .shows-row {
    margin-left: 15px;
    width: calc(100vw - 30px);
  }
  hr {
    margin-left: 45px;
  }
}
@media (max-width: 740px) {
  .list-heading h2 {
    margin-left: 0;
  }
  .shows-row {
    margin-left: 0;
    min-height: 220px;
  }
  hr {
    margin-left: 20px;
  }
}
@media (max-width: 700px) {
  .container2 {
    margin-top: 15px;
  }
  .shows-row {
    min-height: 180px;
  }
}
@media (max-width: 426px) {
  .shows-row {
    margin-left: 5px;
    min-height: 190px;
  }
}
